extends ../base

block content
    h2 change user password
    form(method="POST")
        input(type="password", placeholder="Current Password", name="oldPassword", required)
        input(type="password", placeholder="New Password", name="newPassword", required)
        input(type="password", placeholder="Verify New Password", name="verifyPassword", required)
        input(type="submit", value="Change Password")
